body {
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

#target {
  font-size: 90px;
  letter-spacing: 3px; /* 文字間をゆったりさせる */
}

.info {
  font-size: 40px;
  color: #ccc;
}